services:
  - type: web
    name: govt-job-rag
    env: python
    plan: free
    region: oregon
    buildCommand: pip install --upgrade pip setuptools wheel && pip install -r requirements.txt
    startCommand: uvicorn api_server:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"
      - key: HF_HUB_DISABLE_SYMLINKS_WARNING
        value: "1"
    disks:
      - name: chroma-db
        mountPath: /opt/render/project/src/chroma_db
        sizeGB: 1

